{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Management</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Hover effect for the cards */
        .card:hover {
            transform: scale(1.05);
            transition: transform .2s;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Sports Management</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list_teams' %}">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list_players' %}">Players</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list_matches' %}">Matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'upcoming_events' %}">Events</a>
            </li>
        </ul>
        <a href="{% url 'admin:index' %}" class="btn btn-secondary">Admin Login</a>
    </div>
</nav>
<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>
</body>

<footer>
    <div class="footer-content">
        <p>Contact Info: contact@example.com | Phone: +1234567890</p>
        <p>Follow us on: <a href="#">Facebook</a> | <a href="#">Twitter</a> | <a href="#">Instagram</a></p>
    </div>
</footer>

</html>
