footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.footer-content a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}


body {
    background-image: url('/static/images/ex1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}
